<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>
<div class="cart table-wrapper">
    <table id="shopping-cart-table"
    	   class="cart items data table products-grid wishlist-table"
    	   data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
    	   "updateCartActionContainer": "#update_cart_action_container"}}'>
    	<caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>
    	<thead>
    		<tr>
    			<th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Image') ?></span></th>
    			<th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Product') ?></span></th>
    			<th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
    			
                <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span></th>
    			<th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Action') ?></span></th>
    		</tr>
    	</thead>
        <tbody class="cart items">
            <?php $iterator = 1; ?>
            <?php if (count($block->getItems())): ?>
                <?php foreach ($block->getItems() as $item): ?>
                    <tr class="item-info">
                        <?php foreach ($columns as $column): ?>
                            <?php $column->setItem($item); echo $column->toHtml($item);?>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td>
                        <div class="message info empty">
                            <span><?php /* @escapeNotVerified */ echo __('This Wish List has no Items');?></span>
                        </div>
                    </td>
                </tr>
            <?php endif; ?>
        </tbody>
    </table>
</div>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
