<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
	$_productCollection = $block ->getNewProduct()->getItems();
	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$showWishlist = true;
	$showCompare = true;
	$showCart = true;
?>
<?php if (!$_productCollection): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>

    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper grid products-grid">
		<div class="title-gruod">
			<?php /* @escapeNotVerified */ echo __('NEW SHOP ITEM'); ?>
			<h2 class="ma-title"><span><?php echo $this->getConfig('title') ?></span></h2>
		</div>
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
				<div class="item-inner">
					<div class="product-item-info" data-container="product-grid">
						<?php
						$productImage = $block->getImage($_product, $image);
						if ($pos != null) {
							$position = ' style="left:' . $productImage->getWidth() . 'px;'
								. 'top:' . $productImage->getHeight() . 'px;"';
						}
						?>
						<div class="image-container">
							<?php // Product Image ?>
							<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								<?php echo $productImage->toHtml(); ?>
							</a>
							<div class="box-hover clearfix">
								<div class="show-box">
									<?php if ($showWishlist || $showCompare || $showCart): ?>
											<?php if ($showCart): ?>
												<div class="actions-primary">
													<?php if ($_product->isSaleable()): ?>
														<?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
															<button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
															</button>
														<?php else: ?>
															<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
															$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
															?>
															<button class="action tocart primary"
																	data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
																	type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
															</button>
														<?php endif; ?>
													<?php else: ?>
														<?php if ($_product->getIsSalable()): ?>
															<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
														<?php else: ?>
															<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
														<?php endif; ?>
													<?php endif; ?>
												</div>
											<?php endif; ?>
											<?php if ($showWishlist || $showCompare): ?>
												<div class="add-to-links" data-role="add-to-links">
													<?php if ($showWishlist): ?>
														<a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>'  class="action towishlist" data-action="add-to-wishlist" title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
															<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
														</a>
													<?php endif; ?>
													<?php if ($showCompare): ?>
														<?php
														$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
														?>
														<a href="#" class="action tocompare"
														   data-post='<?php echo $_compareUrl=$this->helper('Magento\Catalog\Helper\Product\Compare')->getPostDataParams($_product); ?>'
														   data-role="add-to-links"
														   title="<?php /* @escapeNotVerified */ echo __('Add to Compare'); ?>">
															<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
														</a>
													<?php endif; ?>
												</div>
											<?php endif; ?>
									<?php endif; ?>
								</div>	
							</div>
						</div>
						<div class="product details product-item-details">
							<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
								<div class="product-name">
									<strong class="product-item-name">
										<a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
										   href="<?php echo $block->getProductUrl($_product) ?>"
										   class="product-item-link">
											<?php echo $block->escapeHtml($_product->getName()) ?>
										</a>
									</strong>
								</div>	
								<?php echo $block->getProductPrice($_product); ?>
						</div>
					</div>
				</div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
