<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
	$subTotal = $cart->getQuote()->getSubtotal();
	$getShippingRate  = $cart->getQuote()->getShippingAddress()->getShippingAmount();;
	$grandTotal = $cart->getQuote()->getGrandTotal();
	$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
	$currencyManager        = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currency); 
	$currencySymbol    = $currencyManager->getCurrencySymbol();
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<div class="cart main continue">
<?php if ($block->getContinueShoppingUrl()): ?>
	<a class="action continue"
		href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
		title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
		<span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
	</a>
<?php endif; ?>
</div>
<div class="checkout-button-top">
	<a class="cart-proceed-to-checkout"  href="<?php echo $storeManager->getStore()->getBaseUrl().'checkout'?>"><?php echo __('Proceed to checkout');?></a>
</div>

<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Image') ?></span></th>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Product') ?></span></th>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span></th>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Total') ?></span></th>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Remove') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
    </div>
</form>
<div class="cart-coupon-total">
	<div class="checkout-cart-coupon cart-left">
		<div class="cart main actions ">
			<div>
				<button type="submit"
						name="update_cart_action"
						data-cart-item-update=""
						value="update_qty"
						title="<?php echo $block->escapeHtml(__('Update Cart')); ?>"
						class="action update remove-icon">
					<span><?php /* @escapeNotVerified */ echo __('Update Cart'); ?></span>
				</button>
				<input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
			</div>
		</div>

		<p class="coupon-class"><?php /* @escapeNotVerified */ echo __('Coupon'); ?></p>
		<span><?php /* @escapeNotVerified */ echo __('Enter your coupon code if you have one.'); ?></span>
		<div class="block discount" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
			<div class="contnt" data-role="contnt" aria-labelledby="block-discount-heading" >
				<form id="discount-coupon-form"
					  action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
					  method="post"
					  data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
													   "removeCouponSelector": "#remove-coupon",
													   "applyButton": "button.action.apply",
													   "cancelButton": "button.action.cancel"}}'>
					<div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
						<input type="hidden" name="remove" id="remove-coupon" value="0" />
						<div class="field">
							<div class="control">
								<input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Coupon code'));?>" />
							</div>
						</div>
						<div class="actions-toolbar">
							<?php if (!strlen($block->getCouponCode())): ?>
							<div class="primary">
								<button class="action apply primary" type="button" value="<?php /* @escapeNotVerified */ echo __('Apply Coupon') ?>">
									<span><?php /* @escapeNotVerified */ echo __('Apply Coupon') ?></span>
								</button>
							</div>
							<?php else: ?>
								<div class="primary">
									<button  type="button" class="action cancel primary" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
								</div>
							<?php endif; ?>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="cart-right">
		<span class="cart-right-total"><?php /* @escapeNotVerified */ echo __('Cart Totals'); ?></span>
		<tbody>
			<table>
				<tr>
					<th><?php /* @escapeNotVerified */ echo __('Subtotal'); ?></th>
					<td><?php /* @escapeNotVerified */ echo $currencySymbol.$subTotal; ?></td>
				</tr>
				<tr>
					<th><?php /* @escapeNotVerified */ echo __('Shipping'); ?></th>
					<td><?php /* @escapeNotVerified */ echo $currencySymbol.$getShippingRate; ?></td>
				</tr>
				<tr>
					<td colspan="2" class="right-align"><?php /* @escapeNotVerified */ echo __('Calculate Shipping'); ?></td>
				</tr>
				<tr class="total-price-section">
					<th><?php /* @escapeNotVerified */ echo __('Total'); ?></th>
					<td><?php /* @escapeNotVerified */ echo $currencySymbol.$grandTotal; ?></td>
				</tr>
			</table>
		</tbody>
	</div>
	<div class="bottom">
		<a class="cart-proceed-to-checkout" href="<?php echo $storeManager->getStore()->getBaseUrl().'checkout'?>"><?php echo __('Proceed to checkout');?></a>
	</div>
</div>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static4_home')->toHtml(); ?>


