
<div class="main-container col2-left-layout">	
	<div class="conten-home">	
		<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('Plazathemes_Bannerslider::bannerslider.phtml')->toHtml();?>
		<div class="home3_static1">
			<div class="container-inner">
				<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static1_home')->toHtml(); ?>
			</div>
		</div>
		<div class="container-inner">
			
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_categor1_home3')->toHtml(); ?>
			
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static3_home')->toHtml(); ?>	
			<?php echo $block->getLayout()->createBlock('Plazathemes\Featureproductslider\Block\Featureproductslider')->setTemplate('Plazathemes_Featureproductslider::featureproductslider.phtml')->toHtml();?>
			<?php echo $block->getLayout()->createBlock('Plazathemes\Blog\Block\Sidebar\Recent')->setTemplate('Plazathemes_Blog::sidebar/slider.phtml')->toHtml();?>
		</div>
		
		<div class="gruod-conten">
			<div class="container-inner">		
				<div class="gruod-pruduct">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12 box1">
							<?php echo $block->getLayout()->createBlock('Plazathemes\Randomproductslider\Block\Products')->setTemplate('Plazathemes_Randomproductslider::productslider.phtml')->toHtml();?>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 box2">
							<?php echo $block->getLayout()->createBlock('Plazathemes\Newproductslider\Block\Newproductslider')->setTemplate('Plazathemes_Newproductslider::newproductslider.phtml')->toHtml();?>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 box3">
							<?php echo $block->getLayout()->createBlock('Plazathemes\Bestsellerproduct\Block\Bestsellerproduct')->setTemplate('bestsellerproduct.phtml')->toHtml();?>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 box4">
							<?php echo $block->getLayout()->createBlock('Plazathemes\Saleproductslider\Block\Saleproductslider')->setTemplate('saleproductslider.phtml')->toHtml();?>
						</div>
					</div>
				</div>
			</div>	
		</div>	
		<div class="container-inner">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static4_home')->toHtml(); ?>
		</div>
	</div>

</div>


