<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<td data-th="<?php echo $block->escapeHtml(__('Image')); ?>" class="col item image">
	<a class="product-item-photo-i" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php echo $block->escapeHtml($product->getName()) ?>">
		<?php echo $block->getImage($product, 'wishlist_thumbnail')->toHtml(); ?>
	</a>
</td>
