<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item item-name">
	<strong class="product-item-name">
		<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php echo $block->escapeHtml($product->getName()) ?>" class="product-item-link">
			<?php echo $block->escapeHtml($product->getName()) ?>
		</a>
	</strong>
</td>