
<div class="main-container col2-left-layout">	
	<div class="conten-home">	
		<div class="gruod-banner">
			<?php echo $block->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('Plazathemes_Bannerslider::bannerslider.phtml')->toHtml();?>
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static1_home2')->toHtml(); ?>
		</div>
		
		<div class="container-inner">
			
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_categor1_home2')->toHtml(); ?>
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static3_home')->toHtml(); ?>
					
	
			<div class="gruod-pruduct">
				<div class="row">
				
					<div class="">
						<?php echo $block->getLayout()->createBlock('Plazathemes\Newproductslider\Block\Newproductslider')->setTemplate('Plazathemes_Newproductslider::newproductslider.phtml')->toHtml();?>
					</div>
					<!--
					<div class="col-md-3 col-sm-6 col-xs-12 box1">
						<?php //echo $block->getLayout()->createBlock('Plazathemes\Randomproductslider\Block\Products')->setTemplate('Plazathemes_Randomproductslider::productslider.phtml')->toHtml();?>
					</div>
					
					
					<div class="col-md-3 col-sm-6 col-xs-12 box3">
						<?php //echo $block->getLayout()->createBlock('Plazathemes\Bestsellerproduct\Block\Bestsellerproduct')->setTemplate('bestsellerproduct.phtml')->toHtml();?>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 box4">
						<?php //echo $block->getLayout()->createBlock('Plazathemes\Saleproductslider\Block\Saleproductslider')->setTemplate('saleproductslider.phtml')->toHtml();?>
					</div>-->
				</div>
				<div class="footer-banner-row">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_banner')->toHtml();?>
				</div>
			</div>
	
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static4_home')->toHtml(); ?>
			
		</div>	

	</div>

</div>


