
// featureproduct-slider

.pt-recentproduct-container{
	.ma-title{
		margin-bottom: 0px;
		padding-bottom: 10px;
		color: #3b3b3b;
		font-weight: 700;
		span{
			font-size: 14px;
			color: #252531;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.item{
		margin-top: 15px;
		.item-inner{
			padding: 0 !important;
			&:before{
				display: none;
			}
			.des{
				padding-top: 0px;
				padding-right: 5px;
				.product-name{
					.product-item-name{
						a{
							font-size: 14px !important;
						}
					}
					.product-reviews-summary{
						text-align: left;
					}
				}
				.product-reviews-summary{
					.rating-summary{
						text-align: left;
					}
				}
			}
			&:hover{
				.pull-left{
					.product-item-photo {
		     			.image-rotator{
		     				opacity:1;
		      				z-index:2;
		     			}
		     		}
		    	 
				}
			}
		}
		&:hover{
			.item-inner{
				padding-bottom: 0px !important;
				
			}
		}
		button{
			padding: 0;
			background: none;
			border: 0;
			text-transform: capitalize;
			font-weight: normal;
			color: #666666;
			font-size: 13px;
			&:hover{
				background: none;
				border: 0;
				color:@general_link_hover_color; 
			}
			&:before{
				content: "\f07a";
   				    font-family: FontAwesome;
   				     margin-right: 3px;
			}
		}
		.product-items{
		    padding-top: 10px;
		    margin-bottom: 0;
		    display: inline-block;
		    width: 100%;
		    padding-bottom: 10px;
			
		}
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: 0px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: 0px;
	}

}

.product-items{
	margin-bottom: 20px;
	overflow: inherit;
	&:last-child{
		margin-bottom: 0;
	}
	.item-inner{
		
		.image-container{
			width: 150px;
			max-width: 35%;
			margin-right: 15px;
			position: relative;
			display: inline-block;
			z-index: 0;
		}
		.des{
			.product-name{
				line-height: 1.2;
				margin: 0 0 5px;
			}
			.price-label {
				display: none;
			}
		}
	}
	&:hover{
		.item-inner{

		}
	}
}


.featureproduct-slider{
	.ma-title{
		text-align: center;
		border-bottom:none;	 
		.title-product{
			    font-size: 12px;
			    color: #838383;
			    font-weight: normal;
			    margin: 0;
			    text-transform: uppercase;
			&:after{
				content: "";
				display: block;
				position: absolute;
				bottom: 15px;
				width: 100%;
				height: 1px;
				background: #ebebeb;
			}
		}
		h2{
			margin: 3px 0 0; 
			span{
				border: none;
		    font-size: 20px;
		    color: #252531;
		    font-weight: bold;
		    text-transform: uppercase;
		    background: #fff;
		    padding: 0 30px;

			}
		    
		}
	}
	.owl-carousel .owl-item{
		padding: 0 15px;
	}
}


// producttab-container
.producttab-conter{
	margin-top: 60px;
}


.producttab-container{
	position: relative;
	margin: 30px 0 60px;
	.product_row{
		.product-items{
			margin-left:0px;  
			.item-inner{
				overflow: hidden;
				padding-right:15px; 
				.price-label{
					display: none;
				}
				.cart-hover{
  						position: absolute;
					    display: block;
					    top: 35%;
					    opacity: 0;
					    left: 0;
					    right: 0;
					    margin: 0 auto;
					    text-align: center;
					    z-index: 2;
					.action{
						position: relative;
						display: inline-block;
						width: 32px;
						height: 32px;
						background: rgba(255, 255, 255, 0.55);
						border: none;
						span{
							font-size: 0px;
						}
						&:before{
						    content: "\e66e";
						    font-family: Pe-icon-7-stroke;
						    font-size: 17px;
						    position: absolute;
						    display: block;
						    left: 0px;
						    right: 0;
						    font-weight: 600;
						    line-height: 18px;
						    color: #666666;
						}
						&:hover{
							background: @general_link_hover_color;
							&:before{
								color: #fff;
							}
						}
					}

				}
				.des{
					.product-name {
						margin-bottom:0; 
						.product-item-name{
							margin-top: 0;
							margin-bottom:20px;  
						}

					}
					.price-box{
						float: left;
						.special-price{
							display: inline-block;
						}
						.old-price{
							display: block;
							margin-left:0px; 
							margin-top: 5px;
						}
					}
					.add-to-link{
						float: right;
						width: 60px;
						margin-top:25px; 
						opacity: 0;
						a{
							display: inline-block;
							position: relative;
							width: 30px;
							height: 30px;
							float: left;
							text-align: center;
							span{
								font-size: 0px;
							}
							&:before{
								content: "";
								font-family: Pe-icon-7-stroke;
							    font-size: 17px;
							    position: absolute;
							    display: block;
							    left: 0px;
							    right: 0;
							    font-weight: 500;
							    line-height: 30px;
							    color: #666666;
							}
							&:hover{
								&:before{
									color: @general_link_hover_color;
								}
							}
						}
						.towishlist{
							&:before{
								    content: "\e642";
							}
						}
						.tocompare{
							&:before{
								    content: "\e614";
							}
						}
					}
				}
				&:hover{
					.cart-hover{
						    opacity: 1;
						    -webkit-animation: zoomIn 300ms ease-in-out;
						    -moz-animation: zoomIn 300ms ease-in-out;
						    -ms-animation: zoomIn 300ms ease-in-out;
						    animation: zoomIn 300ms ease-in-out;
					}
					.des{
						.add-to-link{
							 opacity: 1;
						    -webkit-animation: zoomIn 300ms ease-in-out;
						    -moz-animation: zoomIn 300ms ease-in-out;
						    -ms-animation: zoomIn 300ms ease-in-out;
						    animation: zoomIn 300ms ease-in-out;
						}
					}
				}
			}
		}
	}
	.tab_container{
		background: #fff;
		padding: 30px;
	}

	.owl-theme .owl-controls .owl-buttons{		
		right: -30px;
		top: -85px;
		width: auto;
		div{
			background: none;
			margin: 0;
			text-align: right;
			width: 23px;
			
			&:before{
				line-height: 25px;
			}
			&:hover{
				background: none !important;
				&:before{
					color: @general_link_hover_color;
				}
				
			}
		}
	}
	
}

.gruod-iner{
	margin-top: 80px;
}

.title-tab{
	overflow: hidden;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    height: 36px;
    line-height: 32px;	
	ul.tabs{
	    padding: 0;
	    margin: 0;
	    list-style: none;
		li{
			display: inline-block;
			text-transform: capitalize;
			margin-bottom: 0px;
			cursor: pointer;
			color: #999;
			font-weight: 600;
			font-size: 16px;
			position: relative;
			padding: 0 30px;
		    border: 2px solid #fff;
			border-radius:20px; 
			&:hover{
				color: #303144;
				border-color: @general_link_hover_color;
				
			}
			&.active{
				color: #303144;
				border-color: @general_link_hover_color;
			}
		}
		.last{
			&:after{
				display: none;
			}
		}
	}
	.title-text{
		display: inline-block;

	}
}

.producttab_inner{
	.owl-carousel .owl-item{
		padding: 0 15px; 
	}
	
}


.cms-index-index{
	.product-item{
		padding-left: 0px !important;
	}
}

//categorytab-container

.categorytab-container{
	   margin-bottom:30px; 
	   margin-top: 100px;
	.group-title1{
		.tiitle{
			position: relative;
			text-align: center;
			&:after{
				content: "";
			    display: block;
			    position: absolute;
			    bottom: 17px;
			    width: 100%;
			    height: 1px;
			    background: #ebebeb;
			}
			h2{

				font-size: 12px;
				color: #838383;
				font-weight: 500;
				margin: 0;
				text-transform: uppercase;

				
			}
			span.iner-title{
				font-size: 20px;
				color: #252531;
				font-weight: bold;
				text-transform: uppercase;
				background: #fff;
				text-align: center;
				position: relative;
				display: inline-block;
				padding: 0 20px;
				z-index: 2;
			}
		}
		ul.tabs {
			list-style: none;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
			padding-left: 0px;
			li{
				padding: 0 20px;
				display: inline-block;
				color: #d7d7d7;
				font-weight: bold;
				font-size: 12px;
				text-transform: uppercase;
					cursor: pointer;
				.thumbnail-image{
					width: 100%;
					display: inherit;
					margin-bottom: 15px;
				}
				&:hover{
					color: #bda87f;
				}
				&.active{
					color:#bda87f;
				}
			}
			
		}
	}
	.tab_container{
		.item{
			.item-inner{
				.product-item-info{
					.product-item-details{
						.description{
							margin: 10px 0;
							p{
								margin-bottom: 0px;
								color: #a3a3a3;
								font-weight: normal;
								font-size: 14px;
								    font-family: Roboto,sans-serif;
							}
						}
					}
				}
			}
		}
	}
	
}
.category_tab_slider_special_products.owl-carousel.owl-theme{
	position: relative;
	overflow: hidden;
	.owl-wrapper-outer{
		margin-bottom: 40px;
		overflow: initial;
	}
}

.product-tab{

	.tab_container{
		background: #fff;
		padding: 30px 15px 5px;
		.item-inner{
			.product-item-info{
				
				.image-container{
					display: block;
				}
				.product-action{
					z-index: 1;
					bottom: 4px;
					.product-item-actions{
						margin: 0;
					}
				}
				.add-to-links{
					z-index: 1
				}
			}
		}

	}
	&:hover{
		.owl-theme .owl-controls .owl-buttons{
			visibility: visible;
			opacity: 1;
		}
	}
	.owl-theme .owl-controls .owl-buttons{
		width: 100%;
		pointer-events: none;
		top: 50%;
		margin-top: -30px;
		opacity: 0;
		visibility: hidden;
		.transition();
		div{
			&:before{
				line-height: 34px;
			}
		}
		.owl-prev{
			float: left;
			pointer-events: visible;
			width: 34px;
			height: 34px;
			background: #fff;
			border: 1px solid #e5e5e5;
			&:hover{
				border-color:@general_link_hover_color;
				background: @general_link_hover_color;
				color: #fff; 
				&:before{
					color: #fff;
				}
			}
		}
		.owl-next{
			float: right;
			pointer-events: visible;
			width: 34px;
			height: 34px;
			background: #fff;
			border: 1px solid #e5e5e5;
			&:hover{
				border-color:@general_link_hover_color;
				background: @general_link_hover_color;
				color: #fff; 
				&:before{
					color: #fff;
				}
			}
		}
	}
}
.product-item-actions{
	display: block;
}
.products.products-grid{
	margin: 0 0 30px;
	.product-items .item-inner{
		 .image-container{
			max-width: 100%;
			width:100%;
			padding-top: 0px;
		}
		.product-item-details{
			.price-box{
				margin-bottom:0px; 
			}
		}
	}
}

.products-grid li.product-item{
	margin-bottom: 20px !important;
	padding: 0 15px !important;
}

@media (min-width: 1024px), print{
	.page-products .products-grid .product-item {
	    margin-left: 0;
	    padding: 0 15px !important;
	    width: 25%;
	    margin-bottom: 20px;
	    border: none;
	    overflow: inherit;

	}

}
@media (max-width: 992px), print{
	.page-products .products-grid .product-item {
    	width: 50%;
	     clear: left;
	     margin-bottom: 20px;
	     border: none;
	}
}
@media (min-width:768px), print{
	.column.main{
		padding-right: 15px;
		padding-left: 15px;
		min-height: 5px;
	}
}

@media (max-width: 555px), print{
	.page-products .products-grid .product-item {
	    width: 100%;
	     clear: left;
		.item-inner{
			.product-item-info{
				width: 100% !important;
			}
		}
	}
	.products-list .product-items .product-item .product-item-info .product-item-photo{
		width: 100% !important;
	}
}

///
.products.wrapper ~ .toolbar-products .pages{
	margin-bottom: 0px !important;
}
.pages strong.page{
	line-height: 27px !important;
}
// product-item-actions style grid list
.product-item-info{
	width: auto !important;
	.product-item-photo{
		display: block;
	}
}
.product-item-actions{
	display: table;
	margin: 10px 0 0;
	padding: 10px 0 0;
	position: relative;
	&:before{
		content: "";
		width: 60px;
		border-top: 1px solid #e5e5e5;
		position: absolute;
		left: 0;
		top: 0;
	}
	.add-to-cart-primary{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		.tocart{
			padding: 0;
			background: none;
			border: 0;
			text-transform: capitalize;
			font-weight: normal;
			color: #666666;
			font-size: 13px;
			&:focus{
				border: 0;
				box-shadow: none;
			}
			&:hover{
				color: @general_link_hover_color;
				background:none;
			}
			&:before{
				content: "\f07a";
				font-family: FontAwesome;
				margin-right: 3px;
			}
		}
	}
	.add-to-links-secondary{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		a{
			display: table-cell;
			vertical-align: middle;
			float: right;
			color: #b3b3b3;
			padding: 0 5px;
			&:hover{
				color: @general_link_hover_color;
			}
			span{
				display: none;
			}
			&:before{
				content: "\f0ec";
				font-family: FontAwesome;
			}
			&.compare{
				&:before{
					content: "\f004";
				}
			}
		}
	}
}
// products-grid

.products-grid{
	.product-items{
		li{
			margin-bottom: 0;
			border-right: 1px solid @general_border_color;
			border-bottom: 1px solid @general_border_color;
		}
	}
}
// products-list
.products-list{

	.item{
		.item-inner{
			position: relative;
			border-bottom: 1px solid #e5e5e5;
			padding:30px 0 0; 
			&:before{
				display: none;
			}

			.product-item-info{
				margin-bottom: 30px;
				display: block;
				width: 100%;
				overflow: hidden;
    			margin-bottom: 30px !important;
    			.image-container {
    				.box-hover{
    					bottom: 5px;
    				}
    			}
    			.right-list{
    				.product-item-details{
    					.product-reviews-summary{
    						margin: 0px;
    					}
    					.product-name{
    						margin-bottom: 15px;
    					}
    				}
    			}
    			.list-left{
    				.product-item-inner{
    					.description {
    						  font-family: Roboto,sans-serif;
    						p{
    							margin: 0px;
							  
							    font-size: 14px;
    						}
    					}
    				}
    			}
			}

			
		}

	}

	.product-items{
		margin-left:0px !important; 
		margin-top: 0px;
		.product-item{
			&:first-child{
				.product-item-info{
				}
			}
			&:last-child{
				.product-item-info{
					margin-bottom: 0;
				}
			}
			.product-item-info{
				margin-bottom: 0px;
				display: block;
				width: 100%;
				overflow: hidden;
				.right-list{
				    float: left;
				    position: relative;
				    width: 65%;
				    margin-left: 10px;
				    text-align: left;
				    border:none; 
				
					height: 100%;
					
				    .product-item-details{
				    	border: none;
				    	padding: 0px;
				    	background: none;
				    	text-align: left;
				    }
				    .box-hover{
				    	border: none;
				    }
				    .box-info{
				    	.product-name{
				    		.product-item-name{
				    			margin-top: 0;
				    			.product-item-link{
				    				 font-size: 16px;
				    			}
				    		}
				    	}
				    	.price-box{
			    			.price-container{
			    				.price-wrapper {
			    					.price{
			    						font-size: 1.8rem;
			    					}
			    				}
			    			}
			    			.old-price{
			    				display: inline-block;
			    			}
			    		}
				    }
				}
				.image-container {
					width: 30%;
					float: left;
					margin-right: 0px;
					border:none; 
					.product-item-photo{
						float: left;
						width: 100%;
						padding: 0;
					}
				}
				
				.product-item-details{
					overflow: hidden;
					zoom: 1;
					width: 100%;
					display: inline-block;
					.product-name{
						.product-item-name{
							margin-bottom: 0px;
							a{

							    font-size: 16px;
								font-weight: normal !important;
							}
						}
					}
					.product-reviews-summary{
						.rating-summary{
							text-align: left !important;
							margin-top: 0px; 
						}
						
						&:before{
							display: none !important;
						}
					}


					>.price-box{
						margin: 0px 0 0;
						padding: 0 0 10px;
						border-bottom: none;

					}
					.price-box{
						.price-box{
							margin: 0;

						}
						.price-label{
							display:none;
						}
						.price{
							font-size: 16px;
							font-weight: normal;
						}
						.old-price{
							.price{
								font-size: 14px;
							}
						}
						.price-from,.price-to{
							    display: inline-block;
								margin: 0 10px 0 0;
							.price-label{
								display: inline-block;
							}
						}
						.minimal-price{
							.price-label{
								display: inline-block;
							}
							.price-container{
								display: inline-block;
							}
						}
					}
					.product-item-inner{
						.product-item-description{
							margin: 10px 0 10px;
							.action.more{
								color: @general_link_hover_color;
								&:hover{
									text-decoration: underline;
								}
							}
						}
						.product-item-actions{
							.add-to-cart-primary{
								padding-right: 20px;
							}
						}
					}
				}
				.list-left{
					.product-item-inner{
						.product-item-description{
						    padding-bottom: 0px !important;
							margin-top: 10px;
							margin-bottom: 0px;
							a.action.more{
								display: inherit;
   							 	padding-top: 10px;
							}
							p{
								margin-bottom: 10px;
							    color: #4a4a4a;
    							font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

}

//products-related


.products-related,.products-upsell{
	.item {
		overflow: inherit;
		.item-inner {
			.product-item-info{
				.image-container{
					display: block !important;
				}
			}
		}
	}
}
.crosssell{
	.products.products-grid .item:hover .item-inner{
		margin-bottom: 0px !important;
	}
	.block-title{
		    font-size: 18px;
		    text-transform: uppercase;
		    font-weight: 700;
		    text-align: left;
		    position: relative;
		    border-bottom: 1px solid #e5e5e5;
		    margin-top: 0;
		    color: #fff;
		    background: 0 0;
		    padding: 0;
		    padding-bottom: 0px;
		    position: relative;
		    height: 35px;
		    margin: 0px;
			strong{
			position: relative;
			display: inline-block;
			height: 35px;
			margin: 0;
				
			}

		}
		.owl-carousel .owl-item{
			padding: 0 15px;
		}
	.item-inner{
		.product-item-info{
			.product-item-details{
				.price-box{
					margin-top: 10px!important;
				}
			}
		}
	}	
}
.checkout-cart-index{
	.page-title-wrapper{
		margin-top: 30px;
	}
}

// page-product-downloadable
.page-product-downloadable{
	.product-options-bottom{
		padding: 10px;
		border:1px solid #eee;
		.box-tocart{
			.field.qty{
				padding: 0;
				.label{
					display: inline-block;
					margin-right: 10px;
				}
				.control{
					display: inline-block;
					.input-text.qty{
						height:40px;
					}
				}
			}
			.actions{
				padding: 0;
				button{
					.buttonMixin();
					margin-left: 15px;
				}
			}
		}
		.product-social-links{
			border-top: 1px solid @general_border_color;
			padding: 20px 0 0;
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;				
				.towishlist,.tocompare{
					.buttonMixin();
				}
			}
			.mailto{
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				.buttonMixin();
				span{
					line-height: inherit;
				}
				&:before{
					display: none;
				}
			}
		}
	}
}

// catalog-product-view 
.catalog-product-view{
	.product-info-main{
		padding: 0px !important;
		.page-title{
			margin-top: 0;
			text-transform: capitalize;
			font-size: 34px;
			font-weight: 400;
			font-family: Roboto, sans-serif;
			&:hover{
				color: @general_link_hover_color;
			}
		}
		.product-reviews-summary{
			display: inline-block !important;
			&:before{
				display: none;
			}
		}
		.product-info-price{
			.price-box{
				.special-price{
					.price-container{
						.price-wrapper {
							.price{
								font-size:16px !important;
							}
						}
						.old-price{
							.old-price{
								font-size: 14px !important;
							}
						}
					}
				}
			}
		}
		.product-add-form{
			.box-tocart{
				.field.qty{
					padding: 0;
					.label{
						display: inline-block;
						margin-right: 10px;
					}
					.control{
						display: inline-block;
						.input-text.qty{
							height: 40px;
							border-radius:20px;
						}
					}
				}
				.actions{
					padding: 0;
					button{
						.buttonMixin();
						margin-left: 15px;
						height: 40px;
						line-height: 38px;
						padding: 0 15px;
						background: @general_link_hover_color;
						border-color:@general_link_hover_color;
						color: #fff; 
						border-radius: 3px;
						position: relative;
   						font-weight: normal;
   						border-radius:20px;
   						padding: 0 40px; 
						&:hover{
							background: #444;
							border-color: #444;
						}
						
					}
				}
			}
		}
		.attribute.overview{
			margin: 10px 0;
		}
		.product-social-links{
			border-top: 1px solid @general_border_color;
			padding: 20px 0 0;
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;
				margin: 10px 0;
				.towishlist,.tocompare{
					.buttonMixin();
					border-radius: 0;
					height: 40px;
					padding: 0 15px;
					line-height: 40px;

					span{
						line-height: inherit;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			.mailto{
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				.buttonMixin();
				height: 40px;
				padding: 0 15px;
				line-height: 40px;
				span{
					line-height: inherit;
				}
				&:before{
					display: none;
				}
			}
		}
		.bundle-actions{
			button{
				.buttonMixin();
			}
		}
		
		.product-info-price{
			.price-box{
				.price-from,.price-to{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}
				.special-price,.old-price{
					.price-label{
						display: none;
					}
				}
			}
		}
	}
	.bundle-options-container{
		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
		.bundle-options-wrapper{
			.required{
				.control{
					.options-list{
						margin: 10px 0 0;
						input{
							display: inline-block;
						}
						.field.qty{
							.label{
								display: inline-block;
								vertical-align: middle;
							}
							.control{
								display: inline-block;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
		.block-bundle-summary{
			.title{
				margin-bottom: 20px;
			}
			.box-tocart{
				.field.qty{
					padding: 0;
					.label{
						display: inline-block;
						margin-right: 10px;
					}
					.control{
						display: inline-block;
						.input-text.qty{
							height: 38px;
						}
					}
				}
				.actions{
					padding: 0;
					button{
						.buttonMixin();
						margin-left: 15px;
					}
				}
			}
			.product-addto-links{
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 10px 0;
				.towishlist,.tocompare{
					.buttonMixin();
					margin-right: 5px;
				}
			}
		}
	}
	.product.info{
		margin-top: 30px;
		border:1px solid #e5e5e5;
		padding: 15px;	
		margin-bottom: 70px;
		.product.data.items{
			font-family: Roboto, sans-serif;
			.item{
				a{

				    height: auto;
				    text-transform: uppercase;
				    border: none;
				    background: 0 0;
				    padding-left: 0px;
				    font-size: 14px;
				    font-weight: 600;
				    line-height: 14px;
				    &:hover{
				    	background: none !important;
				    }
				}
			}
		}
	}
	.fotorama__stage{
		
	}
	.product-reviews-summary{
		.rating-summary{
			float: left;

		}
		.reviews-actions{
			display: block !important;
			float: left;
			font-size: 12px;
			line-height: 20px;
			padding-left: 20px;
		}
	}
	.block{
		.block-title{
			    font-size: 18px;
			    text-transform: capitalize;
			    font-weight: 700;
			    text-align: center;
			    position: relative;
			    margin-top: 0;
			    color: #fff;
			    background: 0 0;
			    padding: 0;
			    padding-bottom: 0px;
			    position: relative;
			    height: 43px;
			    border:none;
			    line-height: 43px;
			    &:after{
		    	    content: "";
				    display: block;
				    position: absolute;
				    bottom: 23px;
				    width: 100%;
				    height: 1px;
				    background: #ebebeb;
			    }
			strong{
				position: relative;
				display: inline-block;
				
				margin: 0;
				font-size: 20px !important;
				background: #fff;
				padding: 0 20px;
				z-index: 2;	
			}

		}
		.block-content{
			.products-slider{
				.products{
					.item{
						.item-inner {
							margin-bottom: 0px !important;
							display: block;
							.product-item-info{
								.product-item-details{
									border: none;
									.price-box{
										margin-top: 10px;
										.special-price{
											
											.price-container{
												.price-label{
													font-size: 10px;
													display: none;
												}
												
											}
										}
										.old-price{
											.price-container{
												.price-label{
													font-size: 10px;
													display: none;
												}
												
											}
										}
									}
								}
								.box-hover{
									border-left:none;
									border-right: none;
								}
							}
						}
					}
				}
			}
		} 
		
	}

	.owl-carousel .owl-item{
		padding: 0 15px !important;
	}
	.owl-theme .owl-controls .owl-buttons{
		top: -45px;
	}

	.fotorama__thumb-border{
		    border: 2px solid #bda87f;
	}
}

.checkout-index-index{
	.page-header{
		background: #0083c1;
		margin-top: 0px;
	}
}


//timerproducts

// .products-related,.upsel
.related{
	.block-actions{
		display: none;
	}
	.choice.related{
		display: none;
	}
}

// gallery
.fotorama-item.fotorama--fullscreen{
	z-index: 2000 !important;

}
.fotorama__nav-wrap{
	text-align: center;
}
body{
	.swatch-attribute{
		clear: both;
	}
	.swatch-option.text{
		padding: 0 8px;
	}
}

// pt-brand-container
.bren-iner{
	padding: 0 60px;
	margin-top:-108px; 
	.pt-brand-container{
		background: #fff;
		padding: 90px 0;
		border: 1px solid #e7e7e7;
	}
}




.pt-testimonial-container{
	background-color: #fff;
	padding-bottom: 20px;
	li{
		margin: 0 0 20px;
		.pt-testimonial{
			padding: 30px;
			padding-bottom: 0;
			overflow: hidden;
			text-align: center;
			.des{
				line-height: 24px;
				font-size: 13px;
			}
			.content-tes{
				overflow: hidden;
				text-align: center;
				.text{
					margin-top:20px; 
					.info{
						text-transform: uppercase;
					}
				}
				.media-body{
					padding-left: 20px;
					.name{
						display: block;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 14px;
					}
				}
			}
			.des{
			    margin-top: 25px;
			    text-align: center;
			    color: #666;
			    font-size: 13px;
			    line-height: 25px;
			    font-weight: 400;
			}
			.email{
				text-align: center;
				margin-top:20px;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 400;
				display: inline-block;
				position: relative;
				&:before{
				    content: "";
				    display: block;
				    position: absolute;
				    top: 0;
				    left: -25px;
				    background: url(../images/bg_neme.png) no-repeat;
				    height: 18px;
				    width: 25px;

				}
			}
		}
	}
	.owl-controls{
		.owl-pagination{
			.owl-page{
				span{
					border: 2px solid #dcdcdc;
					background:none;
					width: 14px;
					height: 14px;
					position: relative;
					display: inline-block;
					&:before{
					    position: absolute;
					    display: block;
					    width: 6px;
					    height: 6px;
					    background: #f1ba84;
					    content: "";
					    border-radius: 100%;
					    left: 2px;
					    top: 2px;
					    opacity: 0;
					}
					&:hover{
						border-color: #f1ba84;
						&:before{
							opacity: 1;
						}		
					}
				}
				
			}
			.active {
				span{
					border-color: #f1ba84;
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
}
.pt-testimonial-item{
	background: #fff;
	padding: 20px;
	.testimonial-item{
		margin: 0;
		list-style: none;
		padding:0;
		li{
			margin-bottom: 30px;
			border-bottom: 1px solid #eee;
			padding: 0 0 30px;
			.media-body{
				padding-left: 20px;
				.testimonial-name{
					margin: 0 0 10px;
					font-weight: bold;
				}
				.testimonial-testimonial{
					margin: 5px 0;
				}
				.testimonial-created-time{
					font-style: italic;
					text-decoration: underline;
				}
			}
		}
	}
	
}

.categorytab-container{
	.owl-carousel .owl-item{
		padding: 0 15px;
	}

	.categorytab-iner{
		margin-top: 0px;
		.thuml-img{
			background: #d3931f;
			margin-bottom: 30px;
			border: 1px solid #ebebeb;
			border-radius:3px; 
			.owl-carousel .owl-item{
				padding: 0px;
			}
			.product_row{
				div{
					text-align: center;
					float: left;
					background: #e2ac3a;
					margin: 10px 5px;
					width: 156px;
					color: #fff;
					min-height: 120px;
					cursor: pointer;
					padding-top: 25px;
					font-size: 12px;
					text-transform: uppercase;
					span{
						display: block;
						padding-bottom: 5px;
					}
					&:hover{
						border: 1px solid #fff;
						background: none;
					}

				}
				.first{
					margin-left: 9px;
				}
			}
		}
		.owl-theme {
		.owl-controls {
			opacity: 1 !important;
			.owl-buttons{
				top: -243px !important;
				width: auto !important;
				right: 30px;
				border-left:1px solid #e5e5e5; 
				div{
					background: none !important;
					width: 20px !important;
					height: 51px !important;
					line-height: 51px !important; 
					&:before{
						color: #bfbfbf;
						line-height: 52px !important;
						width: 100% !important;
					}
					&:hover{
						background: none !important;
						&:before{
							color: #e2ac3a !important;
						}
					}
				}
			}
		}
	}
	}
	.title-category{
		.title{

		}
	}
}

//item
.item{
	.item-inner{
		.product-item-info{
			position: relative;
			display: inline-block;
			text-align: center;
			background: #fff;
			.image-container {
				position: relative;
			}
			.product-item-details{
				padding-top: 25px;
				padding-bottom: 25px;
				text-align: center;
				
				.product-item-name{
					margin: 0px;
				}
				.price-box{
					
					padding: 0px 0 0px;
					margin:10px 0  0px;

				}
				.product-reviews-summary{
					margin: 10px 0;
				}
			}
			.box-hover{
		        display: inline-block;
			    padding: 0;
			    position: absolute;
			    text-align: center;
			    right: 0;
			    left: 0;
			    opacity: 0;
			    margin: 0 auto;
			    bottom: 0px;
			    height: 50px;
			    padding: 14px 0;
			    z-index: 99;
			    -webkit-transition: .3s ease;
			    -moz-transition: .3s ease;
			    -ms-transition: .3s ease;
			    -o-transition: .3s ease;
			    transition: .3s ease;
			    -webkit-transform: translatey(20px);
			    -moz-transform: translatey(20px);
			    transform: translatey(20px);
  				width: 100%;
  				background: #fff;
				.actions-primary{
						position: relative;
						float: left;
						  background: none;
					    border: none;
					    color: #FFF;
					    width: 33.3%;
					    font-size: 0;
					    
					    height: 20px;
					    line-height: 20px;
					    margin: 0;
					    padding: 0;
					    text-align: center;
					      border-radius:3px; 
					    -webkit-transition: all .15s ease;
					    -moz-transition: all .15s ease;
					    -ms-transition: all .15s ease;
					    -o-transition: all .15s ease;
					    transition: all .15s ease;
					.action{
					    width: 100%;
					    height: 100%;
					    background: none;
					    border: none;
						padding: 0px;	
						span{
						    font-weight: 400;
						    font-size: 12px;
						    text-transform: capitalize;
						    vertical-align: top;
						    display: none;
						}
						&:before{
						         content: "\e680";
   							    font-family: 'Stroke-Gap-Icons';
						    text-align: center;
						    position: absolute;
						    display: block;
						    left: 0;
						    top: 0px;
							color: #868686;
						    font-size: 20px;
						   width: 100%;
						    height: 100%;
						    font-weight: 400;
						}
						
					}
					&:hover{
						.action{
							    box-shadow: none;
							border: none;
							&:before{
								color: @general_link_hover_color;
							}
						}
					}
				}
			.add-to-links{
        	    display: inline-block;
        	    vertical-align: top;
        	    width: 66.7%;
				a{
					
					border: none;
					color: #FFF;
					float: left;
					font-size: 0;
					 width: 50%;
				    height: 20px;
				    line-height: 20px;
					float: left;
					padding: 0;
					text-align: center;
					
					-webkit-transition: all .15s ease;
					-moz-transition: all .15s ease;
					-ms-transition: all .15s ease;
					-o-transition: all .15s ease;
					transition: all .15s ease;
					span{
						font-size:0;
					}
					&:before{
						text-align: right;
					    width: 100%;
					    position: relative;
					    display: block;
					    left: 0;
					    top: 1px;
					      font-family: 'Stroke-Gap-Icons';
					    font-size: 20px;
					    height: 100%;
					    font-weight: 400;
					    text-align: center;
					    line-height: 20px;
					    color: #868686;

					}
					&:hover{
						
						
						&:before{
							color: @general_link_hover_color;
						}
					}
				}
				.towishlist{
					display:block;
					border-left:1px solid #e5e5e5;
					border-right:1px solid #e5e5e5;  
					&:before{
						    content: "\e67e";
						display: inline-block;
						
					}
				}
				.tocompare{
					display: block;
					&:before{
					content: "\e684";
						display: inline-block;
						
					}
				}
			}
		}
			.product-item-details{
				.price-final_price{
					.price-from{
						.price-container{
							.price-wrapper {
								.price{
									font-size: 1.1rem;
								}
							}
						}
						.old-price{
							.price-final_price .tax .weee{
								.price-wrapper {
									.price{
										font-size: 1.1rem;
									}
								}
							}
						}
					}
					.price-to{
						.price-container{
							.price-wrapper {
								.price{
									font-size: 1.1rem;
								}
							}
						}
						.old-price{
							.price-final_price .tax .weee{
								.price-wrapper {
									.price{
										font-size: 1.1rem;
									}
								}
							}
						}
					}
				}
			}
		}
		&:hover{
			z-index: 1;
		    .product-item-info{
			    position: relative;
			    z-index: 9;
			    background: #fff;
			    visibility: visible;
				transition: all .5s ease 0s;
				.image-container {
					.box-hover{
						-webkit-transform: translatey(0);
						-moz-transform: translatey(0);
						transform: translatey(0);
						filter: alpha(opacity=100);
						opacity: 1;
						box-shadow: 2px 2px 2px 0px #ececec;
					}
				}
			
			
			}
		}
	}
	
}


//tab_product
.tab_product{
	position: relative;
	display: block;
	
	.row{
		margin-left:0px;
		margin-right: 0px; 
	}
	.title-tab{
		margin-bottom: 0px;
	}
	.tab_container.producttab_inner {
		overflow:hidden;
		position: relative;
	.owl-wrapper-outer{
		margin-bottom: 40px;
		overflow: inherit;
	}
}
.producttab_inner{
	.productTabContent{
		.owl-wrapper{
			.first{
				.product_row{
					.item{
						.item-inner{
							.product-item-info{
								border-left: none;
							}
						}
						&:hover{
							.item-inner{
								.product-item-info{
									border-left: 2px solid #ffcd00 !important;
									}
								}
							}
						}
					} 
				}
			}
		}
	}
	.item .item-inner:hover .product-item-info{
		z-index: 2;
	}
}

.pt-randomproduct-container{

}


.ma-title{
	font-size: 25px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: left;
    margin-bottom: 37px;
    position: relative;
    border-bottom:1px solid #e5e5e5; 
    margin-top: 0px;
    color: #303144;
    span{
	    color: #303144;
		display: inline-block;
	    position: relative;
	 	font-weight: bold;
	      text-transform: capitalize;
	      padding-right: 10px;
    }
    
    
}

.title-text{
		display: inline-block;
		padding: 0 350px;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 45px;
		color: #7e7e7e;
		text-align: center;
}


//
.image-rotator{
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     display: block;
     width: 100%;
     height: 100%;
     transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     img{
  
     }
 }
.item{
	.item-inner {
	&:hover {    
		.product-item-info{
			.image-container {
	    		.product-item-photo {
		     			.image-rotator{
		     				opacity:1;
		      				z-index:2;
		     			}
		     		}
		    	}    
		  	}	
	  	}
	}
}


//conten-home
.conten-home{
	
}

.box-haeder{
	position: relative;
	display: inline-block;
	float: right;
	border-left:1px solid #545180;
	color: #fff;
	padding-left: 15px;
	.icon{
		display: inline-block;
		color: #f82e56;
		font-size: 40px;
		padding-right: 10px;
		span{
			display: none;
		}
	}
	.text{
		display: inline-block;
		h1{
			font-size: 18px;
			color: #fff;
			font-weight: 500;
			margin-bottom: 0px;
		}
		p{
			font-size: 14px;
			margin-bottom: 0px;
		}
	}
}