<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');

?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
		<div class="row">
        <ol class="products list  items product-items">
			<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
			<?php foreach ($_productCollection as $_product): ?>
				<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
				<div class="item-inner">
					<div class="product-item-info" data-container="product-grid">
						
							<?php
							$productImage = $block->getImage($_product, $image);
							if ($pos != null) {
								$position = ' style="left:' . $productImage->getWidth() . 'px;'
									. 'top:' . $productImage->getHeight() . 'px;"';
							}
							
							if($_product->getRotaryImage())
							$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_product->getRotaryImage();
						else
							$imageRotary = '';
							?>
							<?php // Product Image ?>
							<div class="image-container ">
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" 	class="product photo product-item-photo" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
									<span class="image-rotator"><?php if($imageRotary): ?>
										<img src="<?php echo $imageRotary; ?>" alt="" />
									<?php else: ?>
										<?php echo $productImage->toHtml() ?>
									<?php endif; ?>
									</span>
									
								</a>
								<div class="box-hover">
									
										<div class="actions-primary">
											<?php if ($_product->isSaleable()): ?>
												<?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
													<button class="action tocart primary"
															data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_product) ?>"}}'
															type="button" title="<?php echo __('Add to Cart') ?>">
														<span><?php echo __('Add to Cart') ?></span>
													</button>
												<?php else: ?>
													<?php
														$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
														$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
													?>
													<button class="action tocart"
															data-post='<?php echo $postData; ?>'
															type="button" title="<?php echo __('Add to Cart') ?>">
														<span><?php echo __('Add to Cart') ?></span>
													</button>
												<?php endif; ?>
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<div data-role="add-to-links" class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#"
												   class="action towishlist"
												   title="<?php echo $block->escapeHtml(__('WishList')); ?>"
												   aria-label="<?php echo $block->escapeHtml(__('WishList')); ?>"
												   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
												   data-action="add-to-wishlist"
												   role="button">
													<span><?php /* @escapeNotVerified */ echo __('WishList') ?></span>
												</a>
											<?php endif; ?>
											<?php
											$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
											?>
											<a href="#"
											   class="action tocompare"
											   title="<?php echo $block->escapeHtml(__('Compare')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Compare')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
											   role="button">
												<span><?php /* @escapeNotVerified */ echo __('Compare') ?></span>
											</a>
										</div>
									
								</div>
								
							</div>	
							<div class="right-list">
								<div class="product-item-details">
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
									<div class="product-name">
										<strong class="product name product-item-name">
											<a class="product-item-link"
											   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
											</a>
										</strong>
									</div>
									
									
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
								</div>
								<div class="list-left">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<?php echo $block->getProductDetailsHtml($_product); ?>

									<div class="product-item-inner">
									
										 <?php if ($showDescription):?>
											<div class="product description product-item-description">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
												<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
												   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
											</div>
										<?php endif; ?>
									</div>
								</div>
								

							</div>
					</div>
				</div>
				<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
			<?php endforeach; ?>
        </ol>
		</div>
		
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
