@general_bg_color:#ffffff;
@general_title_color:#444444;
@general_text_color:#444444;
@general_link_color:#444444;
@general_link_hover_color:#bda87f;
@general_price_color:#676767;
@general_old_price_color:#999999;
@general_border_color:#F1F1F1;
@general_product_name_color:#676767;
@general_new_label_color:#31a2e2;
@general_sale_label_color:#bda87f;
@header_bg_color:#adbcc1;
@header_link_color:#fff;
@header_link_color_hover:#bda87f;
@footer_top_bg_color:#f6f6f6;
@footer_top_title_color:#252531;
@footer_top_text_color:#555555;
@footer_top_link_color:#676767;
@footer_bottom_bg_color:#fff;
@footer_bottom_text_color:#333;
@footer_bottom_link_color:#4a4a4a;