<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter-iner">
	<form class="form-subscribe"
		novalidate
		action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
		method="post"
		data-mage-init='{"validation": {"errorClass": "mage-error"}}'
		id="newsletter-validate-detail">
		<div class="field newsletter">
			<p><?php /* @escapeNotVerified */ echo __('Be the first to hear about new trending and 
offers and see how youve helped'); ?></p>
			<div class="control">
				<input name="email" type="email" id="newsletter"
							placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
							data-validate="{required:true, 'validate-email':true}"/>
				<button class="action subscribe" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
					<?php /* @escapeNotVerified */ echo __('Subscribe') ?>
				</button>
			</div>
		</div>

	</form>
</div>
